.users-page-bg {
  background-color: #f8f9fa;
  height: 100vh;
  padding-top: px; 
  padding-bottom: px; 
}

.user-card {
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  padding: 15px; 
}

.user-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.user-details p {
  margin: 0 15px 0 0;
}

.img_users {
  margin-right: 15px;
}

.icon-style {
  transition: color 0.3s ease;
}

.icon-style:hover {
  color: darkred;
}

.search-bar-container {
  margin-bottom: 20px;
}
